.nav-item .nav-link{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-item a{
	color: #170900 !important;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    padding: 0;
    margin-right: 20px;
    transition: 0.5s;
}

.current-item a{
	color: #01904a !important;
	border-bottom: 3px solid;
    border-bottom-color: #01904a;
    font
}

.section-banner{
	background: #f2f2f2;
}

.btn{
	border-color: #c9c9c9;
    border-radius: 0;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
}

.block{
	background-color: #fff;
    margin: 0 0 15px;
    padding: 0px;
}

.block.block-signup{
	border-bottom: 1px solid #01904a;
    margin-top: 17px;
}

.block.block-signup h3, .block.block-signin h3{
	color: #333;
    line-height: 100%;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 0;
}

.block.block-signup .btn, .block.block-signin .btn{
	font-size: 15px;
    min-width: 70%;
}

.btn-primary{
	border-color: #01904a;
    background-color: #01904a;
}

div.carousel{
	background: #f2f2f2;
    padding: 17px 0px 0px 0px;
}

a{
	color: #333;
}

a:hover{
    text-decoration: none;
    color: #01904a;
}

.shortcode-ghtkpo{
	position: relative;
}

.shortcode-ghtkpo{
    padding: 50px 0;
}

.shortcode-ghtkpo .thumb-map-office{
    max-width: 100%;
}

.shortcode-ghtkpo .default-title{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.shortcode-ghtkpo .default-title .col-left{
	flex: 1;
}

.shortcode-ghtkpo .default-title .col-left .big-text{
	font-size: 90px;
    font-weight: 400;
    padding-left: 5px;
}

.shortcode-ghtkpo .default-title .col-right{
	display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
}

.shortcode-ghtkpo .default-title .col-right span{
	font-size: 28px;
}

.section{
    background: #fff;
    padding: 1px 0;
    position: relative;
}

.section-title{
    color: #333;
    font-size: 35px;
    font-weight: 200;
    margin: 7px 0 25px 0;
    padding: 0;
}

.grey-bg{
	background: #efefef;
}

ul, ol{
    margin: 0;
    padding: 0;
}

.actives ul{
	list-style: none;
    font-weight: 400;
}

.actives ul li{
    background-repeat: no-repeat;
    background-position: 50% 20px;
    background-size: 80px auto;
    border-left: 2px dotted #fff;
    float: left;
    min-height: 230px;
    padding: 100px 15px 20px;
    text-align: center;
    width: 20%;
}

.actives ul li strong{
    color: #01904a;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.actives ul li:first-child{
	border-left: 0 none;
}

.actives ul li.active-1{
    background-image: url(../images/bkg-active-1.png);
}

.actives ul li.active-2{
	background-image: url(../images/bkg-active-2.png);
}

.actives ul li.active-3{
    background-image: url(../images/bkg-active-3.png);
}

.actives ul li.active-4{
    background-image: url(../images/bkg-active-4.png);
}

.actives ul li.active-5{
    background-image: url(../images/bkg-active-5.png);
}

.do-you-know .section-title{
    text-align: center;
    margin-top: 100px;
}

.do-you-know .section-title span, .do-you-know .section-title strong, .do-you-know .section-title em{
    display: block;
}

.do-you-know .section-title em{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0 45px 10px;
    line-height: 24px;
}

.do-you-know .section-title strong{
    font-weight: 400;
}

.btn-100{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.do-you-know .btn-100{
    line-height: 40px;
    font-size: 22px;
}

.do-you-know ul{
    font-weight: 400;
    list-style: none;
}

.do-you-know ul li{
    background-repeat: no-repeat;
    line-height: 15px;
    padding: 0 0 0 100px;
    /* margin: 0 0 10px; */
    min-height: 90px;
    position: relative;
    width: 100%;
}

.do-you-know ul li img{
    position: absolute;
    left: 20px;
    top: 22%;
    height: 35px;
}

.do-you-know ul li strong{
    color: #01904a;
    display: block;
    font-size: 20px;
    font-weight: 500;
    /* margin: 0 0 7px; */
    text-transform: uppercase;
}

.section-signup{
    padding: 20px 0;
}

.black-bg{
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.section-signup h3{
    color: #01904a;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.section-signup .btn-primary{
    font-size: 15px;
    line-height: 24px;
}

.site-footer{
    background-color: #fff;
    color: #666;
    font-size: 13px;
    text-align: center;
    padding: 0 0 30px;
}

.copy-right, .footer-links{
    font-size: 12px;
    margin: 0 0 5px;
}

.copy-right{
    font-weight: 500;
}

.site-footer li{
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}

.site-footer a{
    color: white;
}

.pull-left{
    float: left!important;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.btn-primary:hover{
    background-color: black;
}

.nav-item:hover a{
    color: #01904a !important;
    border-bottom: 3px solid;
    border-bottom-color: #01904a;
}

.site-main .title-page{
    background-color: #01904a;
}

.title-page-st{
    position: relative;
    min-height: 120px;
    padding-bottom: 20px;
}

.title-page-st .container{
    text-align: center;
}

.mashead-title{
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    display: inline-block;
    margin: 0;
    line-height: 120px;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 10;
}

.btn-dropdown-kh{
    background: #01904a;
    border: 0px;
}

.btn-dropdown-kh:hover{
    background-color: #01904a;
    border-color: #01904a;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #01904a;
    border-color: #01904a;
}

.card{
    background: #ffffff none repeat scroll 0 0;
    margin: 15px 0;
    padding: 20px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgb(162, 153, 153);
}

.card-body{
    padding: 0;
}

.card-two{
    position: relative;
    margin: 0 !important;
    border: 0;
}

.card-two header{
    position: relative;
    width: 100%;
    height: 60px;
}

.card-two header .avatar{
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -50px;
    z-index: 5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    border: 3px solid #fff;
}

.card-two header .avatar img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
}

.card-two h3{
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
    line-height: 30px;
    font-size: 21px;
    font-weight: 400;
}

.card-two .desc{
    padding: 0 1rem 2rem;
    line-height: 1.5;
    color: #777;
}

.card-two .contacts{
    text-align: center;
    max-width: 100%;
    margin: 0 auto 3.5rem;
}